body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg , rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}

#principal {
    width: 100%;
    height: 100px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}

#menuSuperior{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}

#principal div a {
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

    #principal div a:hover {
        color: #a5a5a5;
    }

#principal button {
    margin-right: 5%;
    background-color: #0C70F2;
    border: none;
    width: 80px;
    height: 39px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

    #principal button:hover {
        background-color: #0b5bc4;
    }